<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074466000841-5momm7476en0ndctrkni0999o4i771l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074466000841-5momm7476en0ndctrkni0999o4i771l6</string>
	<key>API_KEY</key>
	<string>AIzaSyBhiA1StNei9fLJG1pV92Sf53MSPOuCRoc</string>
	<key>GCM_SENDER_ID</key>
	<string>1074466000841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onBoarding</string>
	<key>PROJECT_ID</key>
	<string>emolearn-app-25f5b</string>
	<key>STORAGE_BUCKET</key>
	<string>emolearn-app-25f5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074466000841:ios:bfaea880face145c9b2218</string>
</dict>
</plist>